# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=63pmc3t8
NEXT_PUBLIC_SANITY_DATASET=production

# Supabase Database
NEXT_PUBLIC_SUPABASE_URL=https://nvvzartwnrbwoxbbhznu.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im52dnphcnR3bnJid294YmJoem51Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MDQ2MDEsImV4cCI6MjA5NTI4MDYwMX0._wA1wPuKq6_HhoUmeY5VGGeLENFiwE8XBALTHv0nnuE

# Site URL (change in production)
NEXT_PUBLIC_SITE_URL= https://qalb-fragrances.vercel.app
